@model ALMSystem2.Models.Attendance

<h2>Submit Attendance</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmployeeID)
    @Html.HiddenFor(model => model.ProjectID)
    @Html.HiddenFor(model => model.ManagerID)
    <div class="form-group">
        @Html.LabelFor(model => model.AttendanceDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AttendanceDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control" , type="date"} })
            @Html.ValidationMessageFor(model => model.AttendanceDate, "", new { @class = "text-danger" })<br />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })<br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}
